:root{
    --vermelho: #E50914;
    --preto: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Elementos Base*/
body{
    background: var(--preto);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    overflow-x: hidden;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
    margin-left: 106px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

/* Filme Principal */

.principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%) ,url('../images/capa-breaking-bad.jpg');
    
    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.principal .descricao{
    margin-top: 10px;
    margin-bottom: 90px;
}

.principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 7.5px 15px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;

    border-radius: 0;
    
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;

    border-radius: 4px;
}

.botao:hover, .botao:focus {
    color: var(--vermelho);
    outline: 0;
}


.botao:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%); 
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: var(--vermelho);
    z-index: -1;
    -webkit-transition: width 150ms ease-in-out;
    transition: width 150ms ease-in-out;
}

.botao:hover {
    color: #fff;
}

.botao:hover:after {
    width: 110%;
}

.botao:active:after {
    background: #167a4a;
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 30px;
    margin-right: 20px;
}

.principal .container{
    width: 70%;
}

.box-serie{
    height: 100%;
    width: 100%;
    display: block;
    margin: 10px;
}

.carrossel-series img:hover {

    filter: brightness(80%);
    cursor: pointer;
    transition-duration: 0.3s;

}


/* Menu de Informações sobre mim */
.redesSociais {
    height: 30px;
    width: 30px;
}

.redesSociais:hover {
    filter: brightness(70%);
    cursor: pointer;
    transition-duration: 0.3s;

}

#tituloMenu {
    display: flex;
    justify-content: center;
    margin: auto;
    font-family: Arial;
    font-size: 20px;
    color: #fff;
    padding: 16px;
}

#menuToggle {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
}

/*
* Just a quick hamburger
*/

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #ffffff;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 40px;
    margin: -103px 0 0 -50px;
    padding: 108px 72px 7px 61px;
    /* padding-top: 110px; */
    background: #212529;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 5px 0;
    font-size: 22px;
}

/*
* And let's slide it in from the left
*/

#menuToggle input:checked~ul {
    transform: none;
}

.botaoGenero{
    display: inline-block;
    padding: 10px;
}
